.list {
  margin-top: 15px;

  transition: 1s;
  animation: mainAnimation 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes mainAnimation {
  0% {
    opacity: 0;
    transform: translateY(2%);
  }
  100% {
    opacity: 1;
  }
}

.title {
  margin-bottom: 5px;
}

.item + .item {
  margin-top: 20px;
}
